---

- name: ansible-container-registry | install docker
  ansible.builtin.import_role:
    name: tcharl.ansible_containerization

- name: ansible-container-registry | install prerequisites
  ansible.builtin.include_tasks: prerequisites.yml

- name: ansible-container-registry | start nginx-proxy
  ansible.builtin.include_tasks: nginx-proxy.yml

- name: ansible-container-registry | start docker-registry
  ansible.builtin.include_tasks: docker-registry.yml
