---

- name: ansible-volumes | install prerequisite - pip
  ansible.builtin.package:
    name: python-pip
    state: present
  become: true

- name: ansible-volumes | install prerequisite - docker
  ansible.builtin.pip:
    name: ["docker", "passlib"]
    state: present
  become: true
